body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

* {
    margin: 0;
    padding: 0;
}

.content {
    min-height: calc(100vh - 150px);
}

.mock-up {
    height: 250px;
    display: block;
}

.avatar {
    margin-top: 14px;
    width: 350px;
}

.file-input-container {
    position: relative;
}

.file-input {
    z-index: 2;
    opacity: 0;
    position: absolute;
}

.row{
    margin: 10px auto;
}

.btn-save{
    padding: 5px 38px;
}
.btn-profile {
    font-size: 15px;
    margin: 25px 15px;
    padding: 5px 25px;
    width: 250px;
    background: rgb(240,240, 240);
}

.profile-username{
    margin: 5px auto -20px auto;
}

.col-btn-profile{
    margin-left: -15px;
}

.ui-corner-all {
    cursor: pointer;
}

a.ui-state-default {
    font-size: 17px;
    height: 30px;
    width: 30px;
}

#datepicker div.ui-datepicker {
    position: relative;
    width: 240px;
}

.ui-datepicker-title{
    font-size: 17px;
}

ui-datepicker-today a.ui-state-default, a.ui-state-highlight {
    background: #26a69a !important;
    color: white !important;
    border: none !important;
}

div.ui-datepicker-header {
    background: #26a69a !important;
    color: white;
}

.week {
    position: relative;
    top: 5px;
    display: none;
}

.btn:hover {
    color: white;
}

select#type{
    margin-top: 15px;
}

.edit-schedule-btn {
    padding: 0 56px !important;
}

.date-span {
    display: none;
}

