@{
    ViewBag.Title = "Home Page";
}
<div class="container">
<h2>WELCOME!</h2>
<p>
    This application is designed for organizing your schedule.
    You can fill it with you lessons adding time, place, professor and the it's type.
    DAROVA is very comfortable in use and user friendly. 
    Responsive interface will help you to organize your time well and not to miss important events.
</p>
<p>
    Let's start quick introduction into application usage.
</p>
<p>
    First of all you should register.
    Press the button "Register" to do it.
    Then you will see register form, you just need to fill it with your data.
</p>
<img src="../img/register.png" class="mock-up">
<p>
    Enter your email and password (password must be at least 6 characters long, have at least one non letter or digit character, have at least one digit ('0'-'9') and have at least one uppercase ('A'-'Z')).
    If you already have an account click "Log in" to enter it.
</p>
<p>
    After that a lot of possibilities become accessible to you!
    Your profile will be shown to you.
</p>
<img src="../img/profile.png" class="mock-up">
<p>
    In order to change information in account press the "Edit profile" button on the "Profile" page. You will be redirected to the page shown on the picture.
    - to edit the name, e-mail, phone number, faculty, university or change course or group number fill in the required fields and press the "Save" button;
    - to change the photo fill in the "Avatar URL" field and choose one from the files on your PC; 
</p>
<img src="../img/edit-profile.png" class="mock-up">
<p>
    - to log out press the "Log off" button; 
    - to create and then edit schedule press the "Edit schedule" button;
    - to add or delete lessons, press the "Settings" button on the "Timetable" page. You will be redirected to the page shown on the picture.
    - to add a new lesson fill in all the fields and press the "Add lesson" button;
    - to delete a lesson choose the date of the lesson, after that choose the lesson you wish to delete and finally press the "Delete lesson" button;
    - to see your current timetable press "My Schedule" button. And then choose a type of view (day, week or month).
    High priority is shown by red color. 
</p>
<img src="../img/month.png" class="mock-up">
<img src="../img/week.png" class="mock-up">
<img src="../img/day.png" class="mock-up">
</div>